Please Log In

<form action="" method="post" class="form-example" target="_blank">
  <div class="form-example">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" required></textarea>
  </div>
  <div class="form-example">
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" required></textarea>
  </div>
  <div class="form-example">
    <p><input type="submit" value="Submit!"></p>
  </div>
</form>