<h1> Register an Account </h1>

You will need a secret provided to you by the administrator of this site to register.

<form action="" method="post" class="form-example">
  <div class="form-example">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" required></textarea>
  </div>
  <div class="form-example">
    <label for="password">Password: </label>
    <input type="text" name="password" id="password" required></textarea>
  </div>
  <div class="form-example">
    <label for="secret">Registration Secret: </label>
    <input type="text" name="secret" id="secret" required></textarea>
  </div>
  <div class="form-example">
    <p><input type="submit" value="Submit!"></p>
  </div>
</form>